@{
    ViewData["Title"] = "Thank You for Your Order";
}
<div class="m-2">
    <h1>Thank You for Your Order</h1>

    <p>Your order has been successfully placed!</p>

    <div>
        <a asp-action="Index" asp-controller="Movie" class="btn btn-primary">Return to Movie Page</a>
    </div>

</div>
